@tailwind base;

/* Write your own custom base styles here */
/* Start purging... */

@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.gradient {
  background: linear-gradient(90deg, #ffc400 30%, #daae51 100%);
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer utilities {
  @variants responsive {
    .hero {
      clip-path: polygon(
        100% 0%,
        0% 0%,
        0% 99%,
        1% 99%,
        2% 98.98%,
        3% 98.96%,
        4% 98.92%,
        5% 98.88%,
        6% 98.82%,
        7% 98.76%,
        8% 98.68%,
        9% 98.6%,
        10% 98.51%,
        11% 98.41%,
        12% 98.3%,
        13% 98.18%,
        14% 98.06%,
        15% 97.93%,
        16% 97.79%,
        17% 97.64%,
        18% 97.49%,
        19% 97.33%,
        20% 97.16%,
        21% 96.99%,
        22% 96.81%,
        23% 96.63%,
        24% 96.45%,
        25% 96.26%,
        26% 96.07%,
        27% 95.88%,
        28% 95.68%,
        29% 95.48%,
        30% 95.28%,
        31% 95.08%,
        32% 94.88%,
        33% 94.68%,
        34% 94.48%,
        35% 94.29%,
        36% 94.09%,
        37% 93.9%,
        38% 93.71%,
        39% 93.52%,
        40% 93.34%,
        41% 93.16%,
        42% 92.98%,
        43% 92.81%,
        44% 92.65%,
        45% 92.49%,
        46% 92.33%,
        47% 92.19%,
        48% 92.05%,
        49% 91.92%,
        50% 91.8%,
        51% 91.68%,
        52% 91.57%,
        53% 91.47%,
        54% 91.38%,
        55% 91.3%,
        56% 91.23%,
        57% 91.17%,
        58% 91.12%,
        59% 91.07%,
        60% 91.04%,
        61% 91.02%,
        62% 91%,
        63% 91%,
        64% 91.01%,
        65% 91.02%,
        66% 91.05%,
        67% 91.09%,
        68% 91.13%,
        69% 91.19%,
        70% 91.25%,
        71% 91.33%,
        72% 91.41%,
        73% 91.51%,
        74% 91.61%,
        75% 91.72%,
        76% 91.84%,
        77% 91.96%,
        78% 92.1%,
        79% 92.24%,
        80% 92.39%,
        81% 92.54%,
        82% 92.7%,
        83% 92.87%,
        84% 93.04%,
        85% 93.22%,
        86% 93.4%,
        87% 93.58%,
        88% 93.77%,
        89% 93.96%,
        90% 94.16%,
        91% 94.35%,
        92% 94.55%,
        93% 94.75%,
        94% 94.95%,
        95% 95.15%,
        96% 95.35%,
        97% 95.55%,
        98% 95.75%,
        99% 95.94%,
        100% 96.13%
      );
    }
    .hero::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        to left,
        rgba(255, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.45) 100%
      );
    }

    .hero-small::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        to top,
        rgba(255, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.7) 100%
      );
    }
  }
}
